      <div class="col-xs-6 col-sm-3 sidebar">
        <div class="jumbotron sidebar-module sidebar-module-inset">
          <h4>关于博客</h4>
          <p>这里是 Material-Card <a href="https://creativecommons.org/licenses/by-sa/3.0/cn/">知识共享许可协议</a> 进行许可</p>
        </div>
        <div class="jumbotron sidebar-module sidebar-module-inset">
          <h4>近期文章</h4>
          <ol class="list-unstyled">
            {% for post in site.posts limit:7 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ol>
        </div>
        <div class="jumbotron sidebar-module sidebar-module-inset">
            <h4>友情链接</h4>
            <ol class="list-unstyled">

                <li><a href="http://lab.hackerchai.com">Hackerchai Android Blog</a></li>
            </ol>
        </div>
      </div><!-- /.sidebar -->
